<mat-toolbar color="primary">
  <div class="content" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="top" fxLayout="row" fxLayoutAlign="center">
      <a href="https://www.linkedin.com/in/kirill-kirillov/">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
      </a>
      <a href="https://github.com/kirillov22">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="mailto:kirillovk@yahoo.co.nz">
        <fa-icon [icon]="faEmail"></fa-icon>
      </a>
    </div>
    <span class="bottom">Made with <mat-icon aria-hidden="false" aria-label="Love">favorite</mat-icon> in Christchurch, New Zealand</span>
  </div>
</mat-toolbar>
