<div fxFlex>
  <mat-card fxLayout="column" fxLayoutAlign="space-around center">
    <img class="mugshot" src="../../assets/kirill-square.png">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center" >
      <h1>Kirill Kirillov</h1>
      <h3>Full-stack web & mobile software engineer</h3>
      <p>
        Hey, I am Kirill. I am a software engineer from Christchurch, New Zealand specializing in full-stack web and mobile technologies.
        I am passionate about building great software that people love to use!
        Feel free to take a look around to learn about me and see if I have made any progress on the numerous side projects I always start.
      </p>
    </mat-card-content>
  </mat-card>
  <app-timeline></app-timeline>
</div>

