@import '../../variables.scss';

mat-card {
  margin: 10px;
}

h3 {
  color: $grey;
}

.circle {
  background-color: $primary;
  border: 3px solid white;
  border-radius: 18px;
  box-shadow: 0 0 2px $grey;
  height: 30px;
  width: 30px;
  margin-top: 25px;
}

.left-pad {
  padding-left: 5px;
}

.line {
  content: '';
  width: 4px;
  height: 100%;
  background-color: black;
  top: 0;
  bottom: 0;
  margin-left: 17px;
}

// Hide the final line
.timelineEvent:last-child .line {
  height: 0px;
}
