@import './variables.scss';

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.heading {
  font-size: 30pt;
  text-align: center;
  margin: auto;
  padding: 8px;
}

.sub-heading {
  font-size: 14pt;
  text-align: center;
  color: $grey;
  margin: auto;
  padding: 10px;
}
